#crue{
 /* background-image: url('img/fond-box.png');*/
  border-radius: 0px;
}

#Vert
{
  font-size: 18px;
  color:green;
}
#Jaune
{
  font-size: 18px;
  color:yellow;
}
#Orange
{
  font-size: 18px;
  color:orange;
}
#Rouge
{
  font-size: 18px;
  color:red;
}