#menuMeteo
{
  width:100px;
  height: 25px;
  position: absolute;
  background-image:linear-gradient(#6e6e6e, #dedede);
  text-align: center;

}

#meteo
{
  width             : 750px;
  position          : absolute;
  overflow          : hidden;
  visibility: visible;

}

#headmeteo{
  font-size: 25px;
  height: 40px;

}

#forecast{
 /* background-image: url('img/fond-box.png');*/
  width: 100%;
  border-radius: 0px;
}

#details{
  /*background-image: url('img/fond-box.png');*/
  width: 100%;
  border-radius: 0px;
}

/*separator*/
.separator{
  background-image:linear-gradient(#dedede, #6e6e6e);
  width: 3px;
  height: 60px;
}

#tp
{
  visibility: visible;
  left:50px;
}
#humidite
{
  visibility: hidden;
  left:50px;
}
#vent
{
  visibility: hidden;
  left:50px;
}
#direction
{
  visibility: hidden;
  left:50px;
}
#visibilite
{
  visibility: hidden;
  left:50px;
}
#pression
{
  visibility: hidden;
  left:50px;
}
#heureSoleil
{
  visibility: hidden;
  left:50px;
}
