#menuPoubelle
{
  width:100px;
  height: 25px;
  position: absolute;
  background-image:linear-gradient(#dedede, #6e6e6e);
  text-align: center;

}

#poubelle
{
  position: absolute;
  overflow: hidden;
  visibility: hidden;
}

#titrepoubelle
{
  font-size: 25px;
  font-weight:bold;
  height:40px;
}
