b{
  color: #3f9bec;
}

img
{
  height: 60px;
  width: 60px;
}
#Vert
{
  font-size: 18px;
  color:green;
}
#Jaune
{
  font-size: 18px;
  color:yellow;
}
#Orange
{
  font-size: 18px;
  color:orange;
}
#Rouge
{
  font-size: 18px;
  color:red;
}
