body
{
	background-color: black;
}
b{
  color: #3f9bec;
}

#horloge
{
	right: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	color             : #FFF;
	text-align        : center;
	font-family: "Comic Sans MS";
}

#horloge_heure
{
  font-size         : 150px;
  background-color  : black;
}

#horloge_date
{
  font-size         : 50px;
  background-color  : black;
}

/*section meteo*/
#meteo
{
  right             : 700px;
  top               : 0px;
  position          : absolute;
  overflow          : hidden;
  color             : #FFF;
  width:400px;

}

#headmeteo{
  font-size: 25px;
  text-align: center;
  height: 40px;

}
#meteoJour{
  width: 290px;
  height: 110px;
  font-size: 100px;
  /*background-color: black;*/
  background-image: url('img/fond-box.png');
  text-shadow:5px 5px 10px black;
  border-radius: 10px;

}

#forecast{
  background-image: url('img/fond-box.png');
  width: 100%;
  border-radius: 10px;
}

#details{
  background-image: url('img/fond-box.png');
  width: 100%;
  border-radius: 10px;
}



/*section crue*/
#crue
{
  color:white;
  width: 600px;
  right:0px;
  top:300px;
  position: absolute;
  overflow: hidden;
  text-align: center;
  font-family: Comic Sans MS;
  background-color: black;
}

#alerte
{
  font-size: 18px;
}

#description
{
  font-size: 15px;
}

#dateMaj
{
  font-style: 18px;
  font-color: white;

}

#Vert
{
  color:green;
}
#Jaune
{
  color:yellow;
}
#Orange
{
  color:orange;
}
#Rouge
{
  color:red;
}