body
{
	background-color: black;
}
b{
  color: #3f9bec;
}

img
{
  height: 60px;
  width: 60px;
}

/*****************************section meteo*/
#meteo
{
  left             : 20px;
  top               : 20px;
  position          : absolute;
  overflow          : hidden;
  color             : #FFF;

}

#headmeteo{
  font-size: 25px;
  text-align: center;
  height: 40px;

}

#forecast{
 /* background-image: url('img/fond-box.png');*/
  width: 100%;
  border-radius: 0px;
}

#details{
  /*background-image: url('img/fond-box.png');*/
  width: 100%;
  border-radius: 0px;
}

/*separator*/
.separator{
  background-image:linear-gradient(#dedede, #6e6e6e);
  width: 3px;
  height: 60px;
}


/***********************************section crue*/
#crue{
 /* background-image: url('img/fond-box.png');*/
  width: 100%;
  border-radius: 0px;
}

#Vert
{
  font-size: 18px;
  color:green;
}
#Jaune
{
  font-size: 18px;
  color:yellow;
}
#Orange
{
  font-size: 18px;
  color:orange;
}
#Rouge
{
  font-size: 18px;
  color:red;
}


/**************************code des poubelles*/
#poubelle
{
  top:20px;
  right:800px;
  position: absolute;
  color: white;
 /* background-image: url("img/fond-box.png");*/

}

#titrepoubelle
{
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}